In [1]:
import seaborn as sns
import pandas as pd

In [2]:
df = sns.load_dataset("tips")

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [5]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
ohe = OneHotEncoder(sparse=False, drop='first')

In [9]:
ohe

OneHotEncoder(drop='first', sparse=False)

In [10]:
columns_to_convert = ['sex', 'smoker', 'day', 'time']

In [11]:
encoded_features = ohe.fit_transform(df[columns_to_convert])

In [12]:
encoded_features

array([[0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 1., 0., 0.],
       [1., 0., 0., 1., 0., 0.],
       ...,
       [1., 1., 1., 0., 0., 0.],
       [1., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.]])

In [13]:
encoded_df = pd.DataFrame(encoded_features, columns=ohe.get_feature_names_out(columns_to_convert))

In [14]:
encoded_df

     sex_Male  smoker_Yes  day_Sat  day_Sun  day_Thur  time_Lunch
0         0.0         0.0      0.0      1.0       0.0         0.0
1         1.0         0.0      0.0      1.0       0.0         0.0
2         1.0         0.0      0.0      1.0       0.0         0.0
3         1.0         0.0      0.0      1.0       0.0         0.0
4         0.0         0.0      0.0      1.0       0.0         0.0
..        ...         ...      ...      ...       ...         ...
239       1.0         0.0      1.0      0.0       0.0         0.0
240       0.0         1.0      1.0      0.0       0.0         0.0
241       1.0         1.0      1.0      0.0       0.0         0.0
242       1.0         0.0      1.0      0.0       0.0         0.0
243       0.0         0.0      0.0      0.0       1.0         0.0

[244 rows x 6 columns]

In [15]:
tips_encoded = pd.concat([df.drop(columns=columns_to_convert), encoded_df], axis=1)

In [16]:
tips_encoded

,total_bill,tip,size,sex_Male,smoker_Yes,day_Sat,day_Sun,day_Thur,time_Lunch
0,16.99,1.01,2,0.0,0.0,0.0,1.0,0.0,0.0
1,10.34,1.66,3,1.0,0.0,0.0,1.0,0.0,0.0
2,21.01,3.50,3,1.0,0.0,0.0,1.0,0.0,0.0
3,23.68,3.31,2,1.0,0.0,0.0,1.0,0.0,0.0
4,24.59,3.61,4,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,3,1.0,0.0,1.0,0.0,0.0,0.0
240,27.18,2.00,2,0.0,1.0,1.0,0.0,0.0,0.0
241,22.67,2.00,2,1.0,1.0,1.0,0.0,0.0,0.0
242,17.82,1.75,2,1.0,0.0,1.0,0.0,0.0,0.0
243,18.78,3.00,2,0.0,0.0,0.0,0.0,1.0,0.0

In [17]:
X = tips_encoded.iloc[:,:-1]

In [18]:
y = tips_encoded.iloc[:,-1]

In [19]:
X

     total_bill   tip  size  sex_Male  smoker_Yes  day_Sat  day_Sun  day_Thur
0         16.99  1.01     2       0.0         0.0      0.0      1.0       0.0
1         10.34  1.66     3       1.0         0.0      0.0      1.0       0.0
2         21.01  3.50     3       1.0         0.0      0.0      1.0       0.0
3         23.68  3.31     2       1.0         0.0      0.0      1.0       0.0
4         24.59  3.61     4       0.0         0.0      0.0      1.0       0.0
..          ...   ...   ...       ...         ...      ...      ...       ...
239       29.03  5.92     3       1.0         0.0      1.0      0.0       0.0
240       27.18  2.00     2       0.0         1.0      1.0      0.0       0.0
241       22.67  2.00     2       1.0         1.0      1.0      0.0       0.0
242       17.82  1.75     2       1.0         0.0      1.0      0.0       0.0
243       18.78  3.00     2       0.0         0.0      0.0      0.0       1.0

[244 rows x 8 columns]

In [20]:
y

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
239    0.0
240    0.0
241    0.0
242    0.0
243    0.0
Name: time_Lunch, Length: 244, dtype: float64

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.3, random_state=10)

In [23]:
X_train

     total_bill   tip  size  sex_Male  smoker_Yes  day_Sat  day_Sun  day_Thur
39        31.27  5.00     3       1.0         0.0      1.0      0.0       0.0
87        18.28  4.00     2       1.0         0.0      0.0      0.0       1.0
169       10.63  2.00     2       0.0         1.0      1.0      0.0       0.0
232       11.61  3.39     2       1.0         0.0      1.0      0.0       0.0
144       16.43  2.30     2       0.0         0.0      0.0      0.0       1.0
..          ...   ...   ...       ...         ...      ...      ...       ...
64        17.59  2.64     3       1.0         0.0      1.0      0.0       0.0
15        21.58  3.92     2       1.0         0.0      0.0      1.0       0.0
228       13.28  2.72     2       1.0         0.0      1.0      0.0       0.0
125       29.80  4.20     6       0.0         0.0      0.0      0.0       1.0
9         14.78  3.23     2       1.0         0.0      0.0      1.0       0.0

[170 rows x 8 columns]

In [24]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((170, 8), (170,), (74, 8), (74,))

In [25]:
from sklearn.naive_bayes import GaussianNB

In [26]:
gd = GaussianNB()

In [27]:
gd

GaussianNB()

In [28]:
gd.fit(X_train, y_train)

GaussianNB()

In [29]:
y_pred = gd.predict(X_test)

In [30]:
y_pred

array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 1.,
       1., 0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 0.,
       0., 1., 0., 0., 1., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 1., 0., 0., 0., 1.])

In [31]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, r2_score

In [32]:
accuracy_score(y_test, y_pred)

0.9594594594594594

In [33]:
confusion_matrix(y_test, y_pred)

array([[51,  3],
       [ 0, 20]], dtype=int64)

In [34]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       1.00      0.94      0.97        54
         1.0       0.87      1.00      0.93        20

    accuracy                           0.96        74
   macro avg       0.93      0.97      0.95        74
weighted avg       0.96      0.96      0.96        74